In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import tensorflow as tf

In [4]:
import seaborn as sns

In [5]:
import matplotlib.pyplot as plt

In [6]:
from tensorflow.keras.models import Sequential

In [7]:
from tensorflow.keras.layers import Dense

In [8]:
from tensorflow.keras.optimizers import Adam, SGD

In [9]:
data = pd.read_csv("ionosphere_data.csv")

In [10]:
data.head()

,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,...,feature26,feature27,feature28,feature29,feature30,feature31,feature32,feature33,feature34,label
0,1,0,0.99539,-0.05889,0.85243,0.02306,0.83398,-0.37708,1.00000,0.03760,...,-0.51171,0.41078,-0.46168,0.21266,-0.34090,0.42267,-0.54487,0.18641,-0.45300,g
1,1,0,1.00000,-0.18829,0.93035,-0.36156,-0.10868,-0.93597,1.00000,-0.04549,...,-0.26569,-0.20468,-0.18401,-0.19040,-0.11593,-0.16626,-0.06288,-0.13738,-0.02447,b
2,1,0,1.00000,-0.03365,1.00000,0.00485,1.00000,-0.12062,0.88965,0.01198,...,-0.40220,0.58984,-0.22145,0.43100,-0.17365,0.60436,-0.24180,0.56045,-0.38238,g
3,1,0,1.00000,-0.45161,1.00000,1.00000,0.71216,-1.00000,0.00000,0.00000,...,0.90695,0.51613,1.00000,1.00000,-0.20099,0.25682,1.00000,-0.32382,1.00000,b
4,1,0,1.00000,-0.02401,0.94140,0.06531,0.92106,-0.23255,0.77152,-0.16399,...,-0.65158,0.13290,-0.53206,0.02431,-0.62197,-0.05707,-0.59573,-0.04608,-0.65697,g

In [11]:
print(data.shape)

(351, 35)

In [12]:
print(data.columns)

Index(['feature1', 'feature2', 'feature3', 'feature4', 'feature5', 'feature6',
       'feature7', 'feature8', 'feature9', 'feature10', 'feature11',
       'feature12', 'feature13', 'feature14', 'feature15', 'feature16',
       'feature17', 'feature18', 'feature19', 'feature20', 'feature21',
       'feature22', 'feature23', 'feature24', 'feature25', 'feature26',
       'feature27', 'feature28', 'feature29', 'feature30', 'feature31',
       'feature32', 'feature33', 'feature34', 'label'],
      dtype='object')

In [13]:
data.isnull().sum()

feature1     0
feature2     0
feature3     0
feature4     0
feature5     0
feature6     0
feature7     0
feature8     0
feature9     0
feature10    0
feature11    0
feature12    0
feature13    0
feature14    0
feature15    0
feature16    0
feature17    0
feature18    0
feature19    0
feature20    0
feature21    0
feature22    0
feature23    0
feature24    0
feature25    0
feature26    0
feature27    0
feature28    0
feature29    0
feature30    0
feature31    0
feature32    0
feature33    0
feature34    0
label        0
dtype: int64

In [14]:
data.isnull()

,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,...,feature26,feature27,feature28,feature29,feature30,feature31,feature32,feature33,feature34,label
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
347,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
348,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
349,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
350,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [15]:
data.describe()

,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,...,feature25,feature26,feature27,feature28,feature29,feature30,feature31,feature32,feature33,feature34
count,351.000000,351.0,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,...,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000
mean,0.891738,0.0,0.641342,0.044372,0.601068,0.115889,0.550095,0.119360,0.511848,0.181345,...,0.396135,-0.071187,0.541641,-0.069538,0.378445,-0.027907,0.352514,-0.003794,0.349364,0.014480
std,0.311155,0.0,0.497708,0.441435,0.519862,0.460810,0.492654,0.520750,0.507066,0.483851,...,0.578451,0.508495,0.516205,0.550025,0.575886,0.507974,0.571483,0.513574,0.522663,0.468337
min,0.000000,0.0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,1.000000,0.0,0.472135,-0.064735,0.412660,-0.024795,0.211310,-0.054840,0.087110,-0.048075,...,0.000000,-0.332390,0.286435,-0.443165,0.000000,-0.236885,0.000000,-0.242595,0.000000,-0.165350
50%,1.000000,0.0,0.871110,0.016310,0.809200,0.022800,0.728730,0.014710,0.684210,0.018290,...,0.553890,-0.015050,0.708240,-0.017690,0.496640,0.000000,0.442770,0.000000,0.409560,0.000000
75%,1.000000,0.0,1.000000,0.194185,1.000000,0.334655,0.969240,0.445675,0.953240,0.534195,...,0.905240,0.156765,0.999945,0.153535,0.883465,0.154075,0.857620,0.200120,0.813765,0.171660
max,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351 entries, 0 to 350
Data columns (total 35 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   feature1   351 non-null    int64
 1   feature2   351 non-null    int64
 2   feature3   351 non-null    float64
 3   feature4   351 non-null    float64
 4   feature5   351 non-null    float64
 5   feature6   351 non-null    float64
 6   feature7   351 non-null    float64
 7   feature8   351 non-null    float64
 8   feature9   351 non-null    float64
 9   feature10  351 non-null    float64
 10  feature11  351 non-null    float64
 11  feature12  351 non-null    float64
 12  feature13  351 non-null    float64
 13  feature14  351 non-null    float64
 14  feature15  351 non-null    float64
 15  feature16  351 non-null    float64
 16  feature17  351 non-null    float64
 17  feature18  351 non-null    float64
 18  feature19  351 non-null    float64
 19  feature20  351 non-null    float64
 20  feature21  351 non-null    float64
 21  feature22  351 non-null    float64
 22  feature23  351 non-null    float64
 23  feature24  351 non-null    float64
 24  feature25  351 non-null    float64
 25  feature26  351 non-null    float64
 26  feature27  351 non-null    float64
 27  feature28  351 non-null    float64
 28  feature29  351 non-null    float64
 29  feature30  351 non-null    float64
 30  feature31  351 non-null    float64
 31  feature32  351 non-null    float64
 32  feature33  351 non-null    float64
 33  feature34  351 non-null    float64
 34  label      351 non-null    object
dtypes: float64(32), int64(2), object(1)
memory usage: 96.1+ KB

In [17]:
from sklearn.preprocessing import LabelEncoder

In [18]:
data.head()

,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,...,feature26,feature27,feature28,feature29,feature30,feature31,feature32,feature33,feature34,label
0,1,0,0.99539,-0.05889,0.85243,0.02306,0.83398,-0.37708,1.00000,0.03760,...,-0.51171,0.41078,-0.46168,0.21266,-0.34090,0.42267,-0.54487,0.18641,-0.45300,g
1,1,0,1.00000,-0.18829,0.93035,-0.36156,-0.10868,-0.93597,1.00000,-0.04549,...,-0.26569,-0.20468,-0.18401,-0.19040,-0.11593,-0.16626,-0.06288,-0.13738,-0.02447,b
2,1,0,1.00000,-0.03365,1.00000,0.00485,1.00000,-0.12062,0.88965,0.01198,...,-0.40220,0.58984,-0.22145,0.43100,-0.17365,0.60436,-0.24180,0.56045,-0.38238,g
3,1,0,1.00000,-0.45161,1.00000,1.00000,0.71216,-1.00000,0.00000,0.00000,...,0.90695,0.51613,1.00000,1.00000,-0.20099,0.25682,1.00000,-0.32382,1.00000,b
4,1,0,1.00000,-0.02401,0.94140,0.06531,0.92106,-0.23255,0.77152,-0.16399,...,-0.65158,0.13290,-0.53206,0.02431,-0.62197,-0.05707,-0.59573,-0.04608,-0.65697,g

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351 entries, 0 to 350
Data columns (total 35 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   feature1   351 non-null    int64
 1   feature2   351 non-null    int64
 2   feature3   351 non-null    float64
 3   feature4   351 non-null    float64
 4   feature5   351 non-null    float64
 5   feature6   351 non-null    float64
 6   feature7   351 non-null    float64
 7   feature8   351 non-null    float64
 8   feature9   351 non-null    float64
 9   feature10  351 non-null    float64
 10  feature11  351 non-null    float64
 11  feature12  351 non-null    float64
 12  feature13  351 non-null    float64
 13  feature14  351 non-null    float64
 14  feature15  351 non-null    float64
 15  feature16  351 non-null    float64
 16  feature17  351 non-null    float64
 17  feature18  351 non-null    float64
 18  feature19  351 non-null    float64
 19  feature20  351 non-null    float64
 20  feature21  351 non-null    float64
 21  feature22  351 non-null    float64
 22  feature23  351 non-null    float64
 23  feature24  351 non-null    float64
 24  feature25  351 non-null    float64
 25  feature26  351 non-null    float64
 26  feature27  351 non-null    float64
 27  feature28  351 non-null    float64
 28  feature29  351 non-null    float64
 29  feature30  351 non-null    float64
 30  feature31  351 non-null    float64
 31  feature32  351 non-null    float64
 32  feature33  351 non-null    float64
 33  feature34  351 non-null    float64
 34  label      351 non-null    object
dtypes: float64(32), int64(2), object(1)
memory usage: 96.1+ KB

In [20]:
print(data.shape)

(351, 35)

In [21]:
x= (data.loc[:, data.columns != "label"])

In [22]:
y= (data.loc[:, data.columns == "label"])

In [29]:
label1 = pd.get_dummies(y["label"], drop_first= True)

In [ ]:
y = y.drop("label", axis = 1)

In [35]:
y = pd.concat([y, label1], axis = 1)

In [24]:
from sklearn.model_selection import train_test_split

In [37]:
print(y)

     g  g
0    1  1
1    0  0
2    1  1
3    0  0
4    1  1
..  .. ..
346  1  1
347  1  1
348  1  1
349  1  1
350  1  1

[351 rows x 2 columns]

In [38]:
print(data.head())

   feature1  feature2  feature3  feature4  feature5  feature6  feature7  \
0         1         0   0.99539  -0.05889   0.85243   0.02306   0.83398
1         1         0   1.00000  -0.18829   0.93035  -0.36156  -0.10868
2         1         0   1.00000  -0.03365   1.00000   0.00485   1.00000
3         1         0   1.00000  -0.45161   1.00000   1.00000   0.71216
4         1         0   1.00000  -0.02401   0.94140   0.06531   0.92106

   feature8  feature9  feature10  ...  feature26  feature27  feature28  \
0  -0.37708   1.00000    0.03760  ...   -0.51171    0.41078   -0.46168
1  -0.93597   1.00000   -0.04549  ...   -0.26569   -0.20468   -0.18401
2  -0.12062   0.88965    0.01198  ...   -0.40220    0.58984   -0.22145
3  -1.00000   0.00000    0.00000  ...    0.90695    0.51613    1.00000
4  -0.23255   0.77152   -0.16399  ...   -0.65158    0.13290   -0.53206

   feature29  feature30  feature31  feature32  feature33  feature34  label
0    0.21266   -0.34090    0.42267   -0.54487    0.18641   -0.45300      g
1   -0.19040   -0.11593   -0.16626   -0.06288   -0.13738   -0.02447      b
2    0.43100   -0.17365    0.60436   -0.24180    0.56045   -0.38238      g
3    1.00000   -0.20099    0.25682    1.00000   -0.32382    1.00000      b
4    0.02431   -0.62197   -0.05707   -0.59573   -0.04608   -0.65697      g

[5 rows x 35 columns]

In [39]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.30, random_state = 42)

In [40]:
model = Sequential()
model.add(tf.keras.layers.Dense(64, activation = "relu"))
model.add(tf.keras.layers.Dense(64, activation = "relu",  input_shape = (data.shape)))
model.add(tf.keras.layers.Dense(1, activation  = "softmax"))

In [41]:
model.compile(optimizer = "rmsprop", loss ="binary_crossentropy", metrics = ["accuracy"])

In [42]:
model.fit(x_train, y_train, epochs = 20, batch_size = 10)

Epoch 1/20
WARNING:tensorflow:Layer dense_3 is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because its dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

25/25 [==============================] - 0s 2ms/step - loss: 5.4150 - accuracy: 0.6449
Epoch 2/20
25/25 [==============================] - 0s 2ms/step - loss: 5.4150 - accuracy: 0.6449
Epoch 3/20
25/25 [==============================] - 0s 2ms/step - loss: 5.4150 - accuracy: 0.6449
Epoch 4/20
25/25 [==============================] - 0s 2ms/step - loss: 5.4150 - accuracy: 0.6449
Epoch 5/20
25/25 [==============================] - 0s 2ms/step - loss: 5.4150 - accuracy: 0.6449
Epoch 6/20
25/25 [==============================] - 0s 2ms/step - loss: 5.4150 - accuracy: 0.6449
Epoch 7/20
25/25 [==============================] - 0s 2ms/step - loss: 5.4150 - accuracy: 0.6449
Epoch 8/20
25/25 [==============================] - 0s 1ms/step - loss: 5.4150 - accuracy: 0.6449
Epoch 9/20
25/25 [==============================] - 0s 1ms/step - loss: 5.4150 - accuracy: 0.6449
Epoch 10/20
25/25 [==============================] - 0s 1ms/step - loss: 5.4150 - accuracy: 0.6449
Epoch 11/20
25/25 [==============================] - 0s 1ms/step - loss: 5.4150 - accuracy: 0.6449
Epoch 12/20
25/25 [==============================] - 0s 1ms/step - loss: 5.4150 - accuracy: 0.6449
Epoch 13/20
25/25 [==============================] - 0s 1ms/step - loss: 5.4150 - accuracy: 0.6449
Epoch 14/20
25/25 [==============================] - 0s 1ms/step - loss: 5.4150 - accuracy: 0.6449
Epoch 15/20
25/25 [==============================] - 0s 1ms/step - loss: 5.4150 - accuracy: 0.6449
Epoch 16/20
25/25 [==============================] - 0s 1ms/step - loss: 5.4150 - accuracy: 0.6449
Epoch 17/20
25/25 [==============================] - 0s 1ms/step - loss: 5.4150 - accuracy: 0.6449
Epoch 18/20
25/25 [==============================] - 0s 1ms/step - loss: 5.4150 - accuracy: 0.6449
Epoch 19/20
25/25 [==============================] - 0s 1ms/step - loss: 5.4150 - accuracy: 0.6449
Epoch 20/20
25/25 [==============================] - 0s 1ms/step - loss: 5.4150 - accuracy: 0.6449

In [44]:
test_loss, test_acc = model.evaluate(x_test, y_test)

4/4 [==============================] - 0s 2ms/step - loss: 5.6106 - accuracy: 0.6321

In [45]:
y_pred = model.predict(x_test)

In [46]:
print(y_pred.shape)

(106, 1)

In [47]:
print(y_pred)

[[1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]]

In [48]:
print(x_test)

     feature1  feature2  feature3  feature4  feature5  feature6  feature7  \
157         1         0   0.47090   0.22751   0.42328   0.33598   0.25661
342         1         0   0.82254  -0.07572   0.80462   0.00231   0.87514
316         1         0   0.89589   0.39286   0.66129   0.71804   0.29521
234         1         0   0.68729   1.00000   0.91973  -0.76087   0.81773
155         1         0   0.72414  -0.01084   0.79704   0.01084   0.80000
..        ...       ...       ...       ...       ...       ...       ...
258         1         0   0.61538   0.18923   0.78157   0.01780   0.77486
329         1         0   0.88110   0.00000   0.94817  -0.02744   0.93598
335         1         0   1.00000  -0.01342   1.00000   0.01566   1.00000
19          0         0   1.00000  -1.00000   0.00000   0.00000   0.00000
139         1         0   1.00000  -0.37838   0.64865   0.29730   0.64865

     feature8  feature9  feature10  ...  feature25  feature26  feature27  \
157   0.47619   0.01852    0.49471  ...   -0.23280    0.00265    0.03574
342  -0.01214   0.86821   -0.07514  ...    0.74451   -0.02370    0.76717
316   0.90824  -0.04787    0.94415  ...    0.21581   -0.85703    0.53229
234   0.04348   0.76087    0.10702  ...    1.00000   -0.53846    0.89262
155   0.00197   0.79015    0.01084  ...    0.72611   -0.01478    0.78041
..        ...       ...        ...  ...        ...        ...        ...
258   0.02647   0.65077   -0.10308  ...    0.60154   -0.07231    0.58803
329  -0.01220   0.90244    0.01829  ...    0.99695    0.04878    0.89666
335  -0.00224   1.00000    0.06264  ...    1.00000    0.10067    0.99989
19    0.00000   1.00000    1.00000  ...   -1.00000    1.00000    1.00000
139  -0.24324   0.86486    0.18919  ...    0.35135   -0.29730    0.61031

     feature28  feature29  feature30  feature31  feature32  feature33  \
157   -0.31739    0.15873   -0.21693    0.24868   -0.24339    0.26720
342   -0.02731    0.74046   -0.07630    0.70058   -0.04220    0.78439
316   -0.68593    0.74846   -0.40656    0.83142   -0.07029    0.76862
234    0.22216    0.71070    0.53846    1.00000   -0.06522    0.56522
155    0.00612    0.74089   -0.05025    0.82956    0.02956    0.79015
..         ...        ...        ...        ...        ...        ...
258    0.08767    0.55077    0.25692    0.53389    0.09207    0.50609
329    0.02226    0.90854    0.00915    1.00000    0.05488    0.97561
335    0.08763    0.99105    0.08501    1.00000    0.10067    1.00000
19     1.00000    1.00000   -1.00000    1.00000    1.00000    1.00000
139   -0.22163    0.58478   -0.23027    0.72973   -0.59459    0.51351

     feature34
157    0.04233
342    0.01214
316    0.27926
234    0.23913
155    0.00788
..         ...
258    0.09322
329   -0.01220
335    0.10067
19     1.00000
139   -0.24324

[106 rows x 34 columns]

In [49]:
print(data.head(16))

    feature1  feature2  feature3  feature4  feature5  feature6  feature7  \
0          1         0   0.99539  -0.05889   0.85243   0.02306   0.83398
1          1         0   1.00000  -0.18829   0.93035  -0.36156  -0.10868
2          1         0   1.00000  -0.03365   1.00000   0.00485   1.00000
3          1         0   1.00000  -0.45161   1.00000   1.00000   0.71216
4          1         0   1.00000  -0.02401   0.94140   0.06531   0.92106
5          1         0   0.02337  -0.00592  -0.09924  -0.11949  -0.00763
6          1         0   0.97588  -0.10602   0.94601  -0.20800   0.92806
7          0         0   0.00000   0.00000   0.00000   0.00000   1.00000
8          1         0   0.96355  -0.07198   1.00000  -0.14333   1.00000
9          1         0  -0.01864  -0.08459   0.00000   0.00000   0.00000
10         1         0   1.00000   0.06655   1.00000  -0.18388   1.00000
11         1         0   1.00000  -0.54210   1.00000  -1.00000   1.00000
12         1         0   1.00000  -0.16316   1.00000  -0.10169   0.99999
13         1         0   1.00000  -0.86701   1.00000   0.22280   0.85492
14         1         0   1.00000   0.07380   1.00000   0.03420   1.00000
15         1         0   0.50932  -0.93996   1.00000   0.26708  -0.03520

    feature8  feature9  feature10  ...  feature26  feature27  feature28  \
0   -0.37708   1.00000    0.03760  ...   -0.51171    0.41078   -0.46168
1   -0.93597   1.00000   -0.04549  ...   -0.26569   -0.20468   -0.18401
2   -0.12062   0.88965    0.01198  ...   -0.40220    0.58984   -0.22145
3   -1.00000   0.00000    0.00000  ...    0.90695    0.51613    1.00000
4   -0.23255   0.77152   -0.16399  ...   -0.65158    0.13290   -0.53206
5   -0.11824   0.14706    0.06637  ...   -0.01535   -0.03240    0.09223
6   -0.28350   0.85996   -0.27342  ...   -0.81634    0.13659   -0.82510
7   -1.00000   0.00000    0.00000  ...    1.00000    1.00000    1.00000
8   -0.21313   1.00000   -0.36174  ...   -0.65440    0.57577   -0.69712
9    0.00000   0.11470   -0.26810  ...   -0.01326    0.20645   -0.02294
10  -0.27320   1.00000   -0.43107  ...   -0.89128    0.47211   -0.86500
11  -1.00000   1.00000    0.36217  ...   -0.40888    1.00000   -0.62745
12  -0.15197   1.00000   -0.19277  ...   -0.47137    0.76224   -0.58370
13  -0.39896   1.00000   -0.12090  ...   -0.17012    1.00000    0.35924
14  -0.05563   1.00000    0.08764  ...    0.20033    1.00000    0.36743
15  -1.00000   1.00000   -1.00000  ...    0.92236    0.39752    0.26501

    feature29  feature30  feature31  feature32  feature33  feature34  label
0     0.21266   -0.34090    0.42267   -0.54487    0.18641   -0.45300      g
1    -0.19040   -0.11593   -0.16626   -0.06288   -0.13738   -0.02447      b
2     0.43100   -0.17365    0.60436   -0.24180    0.56045   -0.38238      g
3     1.00000   -0.20099    0.25682    1.00000   -0.32382    1.00000      b
4     0.02431   -0.62197   -0.05707   -0.59573   -0.04608   -0.65697      g
5    -0.07859    0.00732    0.00000    0.00000   -0.00039    0.12011      b
6     0.04606   -0.82395   -0.04262   -0.81318   -0.13832   -0.80975      g
7     0.00000    0.00000    1.00000    1.00000    0.00000    0.00000      b
8     0.25435   -0.63919    0.45114   -0.72779    0.38895   -0.73420      g
9     0.00000    0.00000    0.16595    0.24086   -0.08208    0.38065      b
10    0.40303   -0.83675    0.30996   -0.89093    0.22995   -0.89158      g
11    1.00000   -1.00000    1.00000   -1.00000    1.00000   -1.00000      b
12    0.65723   -0.68794    0.68714   -0.64537    0.64727   -0.67226      g
13    1.00000   -0.66494    1.00000    0.88428    1.00000   -0.18826      b
14    0.95603    0.48641    1.00000    0.32492    1.00000    0.46712      g
15    0.00000    0.00000    1.00000    0.23188    0.00000    0.00000      b

[16 rows x 35 columns]

In [50]:
print(y_pred.shape)

(106, 1)

In [53]:
data.shape

(351, 35)

In [52]:
print(x)

     feature1  feature2  feature3  feature4  feature5  feature6  feature7  \
0           1         0   0.99539  -0.05889   0.85243   0.02306   0.83398
1           1         0   1.00000  -0.18829   0.93035  -0.36156  -0.10868
2           1         0   1.00000  -0.03365   1.00000   0.00485   1.00000
3           1         0   1.00000  -0.45161   1.00000   1.00000   0.71216
4           1         0   1.00000  -0.02401   0.94140   0.06531   0.92106
..        ...       ...       ...       ...       ...       ...       ...
346         1         0   0.83508   0.08298   0.73739  -0.14706   0.84349
347         1         0   0.95113   0.00419   0.95183  -0.02723   0.93438
348         1         0   0.94701  -0.00034   0.93207  -0.03227   0.95177
349         1         0   0.90608  -0.01657   0.98122  -0.01989   0.95691
350         1         0   0.84710   0.13533   0.73638  -0.06151   0.87873

     feature8  feature9  feature10  ...  feature25  feature26  feature27  \
0    -0.37708   1.00000    0.03760  ...    0.56811   -0.51171    0.41078
1    -0.93597   1.00000   -0.04549  ...   -0.20332   -0.26569   -0.20468
2    -0.12062   0.88965    0.01198  ...    0.57528   -0.40220    0.58984
3    -1.00000   0.00000    0.00000  ...    1.00000    0.90695    0.51613
4    -0.23255   0.77152   -0.16399  ...    0.03286   -0.65158    0.13290
..        ...       ...        ...  ...        ...        ...        ...
346  -0.05567   0.90441   -0.04622  ...    0.95378   -0.04202    0.83479
347  -0.01920   0.94590    0.01606  ...    0.94520    0.01361    0.93522
348  -0.03431   0.95584    0.02446  ...    0.93988    0.03193    0.92489
349  -0.03646   0.85746    0.00110  ...    0.91050   -0.02099    0.89147
350   0.08260   0.88928   -0.09139  ...    0.86467   -0.15114    0.81147

     feature28  feature29  feature30  feature31  feature32  feature33  \
0     -0.46168    0.21266   -0.34090    0.42267   -0.54487    0.18641
1     -0.18401   -0.19040   -0.11593   -0.16626   -0.06288   -0.13738
2     -0.22145    0.43100   -0.17365    0.60436   -0.24180    0.56045
3      1.00000    1.00000   -0.20099    0.25682    1.00000   -0.32382
4     -0.53206    0.02431   -0.62197   -0.05707   -0.59573   -0.04608
..         ...        ...        ...        ...        ...        ...
346    0.00123    1.00000    0.12815    0.86660   -0.10714    0.90546
347    0.04925    0.93159    0.08168    0.94066   -0.00035    0.91483
348    0.02542    0.92120    0.02242    0.92459    0.00442    0.92697
349   -0.07760    0.82983   -0.17238    0.96022   -0.03757    0.87403
350   -0.04822    0.78207   -0.00703    0.75747   -0.06678    0.85764

     feature34
0     -0.45300
1     -0.02447
2     -0.38238
3      1.00000
4     -0.65697
..         ...
346   -0.04307
347    0.04712
348   -0.00577
349   -0.16243
350   -0.06151

[351 rows x 34 columns]